html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#eceef3, #9dbde9);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 430px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(55, 56, 64, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #0b0909;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #0a0704;
  font-size: 12px;
}
button {
  font-size: 17px;
  padding: 1em 2.7em;
  font-weight: 500;
  background: rgb(231, 100, 7);
  background: linear-gradient(90deg, rgba(0,71,157,1) 0%, rgba(80, 111, 127, 0.72) 100%);
  color: #000;
  font-weight: 900;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
  box-shadow: 0 0 10px #6c4f4f;
  transition: 0.2s;
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  transition-duration: 400ms;
  background: #ffffff;
  border-radius: 9999px;
  width: 10em;
  height: 10em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover .transition {
  width: 0;
  height: 0;
}

button:hover {
  transition: 0.2s;
  color: #fff;
}

button:active {
  transform: scale(0.97);
}